body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url( 'http://lab.jcode.me/assets/img/body_bg.png' );
}
.footerRight {
  padding-right: 20px;
  float: right;
  font-size: 10px;
}
.footerLeft {
  padding-left: 20px;
  float: left;
  font-size: 10px;
}
hr.soften {
  border: 0;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
}
.thumbnail {
  background: #eeeeee;
}
.smaller {
  font-size: 11px;
}
.indexThumb {
  position: relative;
  min-height: 380px;
}
.offsetFlask {
  margin-left: 250px;
}
.offsetTitle {
  margin-left: 40px;
}
.indexButtons {
  position: absolute;
  display: table-cell;
  bottom: 14px;
  left: 14px;
  vertical-align: bottom;
}
body > .navbar {
  font-size: 13px;
}
/*
body > .navbar .brand {
    padding-right:          0;
    padding-left:           0;
    margin-left:            20px;
    float:                  right;
    font-weight:            bold;
    color:                  @black;
    text-shadow:            0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition:     all .2s linear;
    -moz-transition:        all .2s linear;
    transition:             all .2s linear;
}
*/
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.4);
}
.navbar-jcode {
  min-height: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-image: url( 'http://lab.jcode.me/assets/img/body_bg.png' );
}
pre {
  font-size: 10px !important;
  line-height: 12px  !important;
  display: block !important;
  padding: 5.5px !important;
  margin: 0 0 1px !important;
}
.bs-docs-base {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.bs-docs-after {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #E8E8E8;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.bs-docs-pretty {
  margin-top: -20px;
  padding-top: 15px;
}
.bs-docs-input:after {
  content: "Input";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #E8E8E8;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.bs-docs-output:after {
  content: "Output";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #E8E8E8;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.bs-docs-input {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.bs-docs-output {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.bs-docs-output + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}
.bs-docs-input + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}
.siteTitle {
  height: 220px;
}
.titleText {
  color: #666666;
}
.portScan,
.driveList {
  color: #858585;
  background: #EEE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.statusHeaders {
  padding-top: 20px;
  position: relative;
  min-height: 150px;
  color: #858585;
}
.statusGraphBox {
  padding-top: 0;
  height: 170px;
}
.statusTime {
  padding: 10px 20px 11px;
  line-height: 100%;
  font-size: 11px;
}
.statusMemoryTotal {
  padding: 10px 20px 11px;
  line-height: 100%;
  font-size: 13px;
}
.statusMemoryUsed {
  padding: 10px 20px 11px;
  line-height: 100%;
  font-size: 50px;
}
.statusHeadsBottom {
  position: absolute;
  display: table-cell;
  bottom: 0px;
  left: 0px;
  vertical-align: bottom;
  font-weight: normal;
  font-size: 12px;
  border-top: 1px solid #D4D4D4;
  height: 13px;
  line-height: 100%;
  overflow: hidden;
  padding: 10px 15px 11px;
  width: 188px;
}
.statusMain {
  padding: 10px 10px 11px 20px;
  line-height: 100%;
  font-size: 55px;
}
.statusSecondary {
  line-height: 100%;
  font-size: 25px;
}
.pull-right {
  padding-top: 5px;
  padding-right: 30px;
  float: right;
  font-size: 12px;
}
.pull-left {
  padding-top: 5px;
  padding-left: 22px;
  float: left;
  font-size: 12px;
}
.driveMount {
  padding-left: 20px !important;
}
.form-actions {
  background-color: transparent !important;
  border-top: 0px !important;
}
.pagination a {
  background-color: #eeeeee;
}
.span1-5 {
  width: 110px;
}
.form-delete {
  padding-top: 50px;
}
.progress {
    margin-bottom: 8px;
}
